
.btn{
  padding: 15px 30px;
  border-radius: 5px;
  background-color: $btn-bg-primary;
  font-size: 1rem;

  &:hover{
    background-color: $btn-hover-primary;
  }

  &-lg{
    background: $btn-bg-secondary;
    padding: 12px 40px;
    font-size: $font-xl;
    color: $btn-font-secondary;
    &:hover{
      background: $btn-hover-primary;
      color: $color-primary;
    }
  }

  span{
    color: $btn-font-primary;
  }

}