// Variables

// Fonts Family
$fontFamily: 'DM Sans', sans-serif;
$fontAlternative: 'Roboto', sans-serif;

// Background Color
$bg-primary: #1f2023;

// Fonts Color
$color-primary: #FEFEFE;
$color-secondary: #42462F;

// Font Size
$font-sm:10px;
$font-md:16px;
$font-lg:20px;
$font-xl:24px;
$font-xxl:32px;

// Buttons
$btn-bg-primary: #D3E661;
$btn-bg-secondary: #2e2f36;
$btn-font-primary: #42462F;
$btn-font-secondary: #D3E661;

$btn-hover-primary: #d2e661df;
$btn-hover-secondary: #42462F;